@font-face {
  font-family: 'avenir next';
  src: url('./AvenirNextLTPro/AvenirNextLTPro-Regular.eot');
  src: url('./AvenirNextLTPro/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Regular.woff2') format('woff2'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Regular.woff') format('woff'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Regular.ttf') format('truetype'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'avenir next';
  src: url('./AvenirNextLTPro/AvenirNextLTPro-Demi.eot');
  src: url('./AvenirNextLTPro/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Demi.woff2') format('woff2'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Demi.woff') format('woff'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Demi.ttf') format('truetype'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'avenir next';
  src: url('./AvenirNextLTPro/AvenirNextLTPro-Bold.eot');
  src: url('./AvenirNextLTPro/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Bold.woff2') format('woff2'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Bold.woff') format('woff'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Bold.ttf') format('truetype'),
      url('./AvenirNextLTPro/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open sans';
  src: url('./OpenSans/OpenSans-Light.eot');
  src: url('./OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
      url('./OpenSans/OpenSans-Light.woff2') format('woff2'),
      url('./OpenSans/OpenSans-Light.woff') format('woff'),
      url('./OpenSans/OpenSans-Light.ttf') format('truetype'),
      url('./OpenSans/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open sans';
  src: url('./OpenSans/OpenSans-Regular.eot');
  src: url('./OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('./OpenSans/OpenSans-Regular.woff2') format('woff2'),
      url('./OpenSans/OpenSans-Regular.woff') format('woff'),
      url('./OpenSans/OpenSans-Regular.ttf') format('truetype'),
      url('./OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open sans';
  src: url('./OpenSans/OpenSans-SemiBold.eot');
  src: url('./OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
      url('./OpenSans/OpenSans-SemiBold.woff') format('woff'),
      url('./OpenSans/OpenSans-SemiBold.ttf') format('truetype'),
      url('./OpenSans/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open sans';
  src: url('./OpenSans/OpenSans-Bold.eot');
  src: url('./OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('./OpenSans/OpenSans-Bold.woff2') format('woff2'),
      url('./OpenSans/OpenSans-Bold.woff') format('woff'),
      url('./OpenSans/OpenSans-Bold.ttf') format('truetype'),
      url('./OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*  FIXME:
    Not sure if these fonts are gonna stay after design cleanup
    Ask about Roboto and Nunito fonts
*/
@font-face {
  font-family: 'gibson';
  src: url('./Gibson/Gibson-Regular.eot');
  src: url('./Gibson/Gibson-Regular.eot?#iefix') format('embedded-opentype'),
      url('./Gibson/Gibson-Regular.woff2') format('woff2'),
      url('./Gibson/Gibson-Regular.woff') format('woff'),
      url('./Gibson/Gibson-Regular.ttf') format('truetype'),
      url('./Gibson/Gibson-Regular.svg#Gibson-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gibson';
  src: url('./Gibson/Gibson-SemiBold.eot');
  src: url('./Gibson/Gibson-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./Gibson/Gibson-SemiBold.woff2') format('woff2'),
      url('./Gibson/Gibson-SemiBold.woff') format('woff'),
      url('./Gibson/Gibson-SemiBold.ttf') format('truetype'),
      url('./Gibson/Gibson-SemiBold.svg#Gibson-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gibson';
  src: url('./Gibson/Gibson-Bold.eot');
  src: url('./Gibson/Gibson-Bold.eot?#iefix') format('embedded-opentype'),
      url('./Gibson/Gibson-Bold.woff2') format('woff2'),
      url('./Gibson/Gibson-Bold.woff') format('woff'),
      url('./Gibson/Gibson-Bold.ttf') format('truetype'),
      url('./Gibson/Gibson-Bold.svg#Gibson-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
